target/classes/mule-cicd-munit-demo-app1.xml
<?xml version="1.0" encoding="UTF-8"?> 
 
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e8c4806-165f-46a3-af67-53cb314a8240" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f48e7f39-66dc-47e0-bf2b-21ff2bb36728" file="config.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="64808d0e-bdc7-4aaf-8d56-5254485ad806" enableCookies="false" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0a2278b7-62ef-4a4d-bba4-bf782f2b41c2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mulecoe" />
	</db:config>
	<flow name="mule-cicd-munit-demo-app1-flow" doc:id="6f2b61b7-58db-470d-b3ea-1bbf617864d0" >
		<http:listener doc:name="Listener" doc:id="7070c642-c31c-45a8-ab93-20d9a2d078ce" config-ref="HTTP_Listener_config" path="/*"/>
		<ee:transform doc:name="Add" doc:id="3068aca0-4e46-4e45-909a-47a5ec4f1afb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result1  : payload.num1 as Number + payload.num2 as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="79eec745-c72a-4d7a-acab-d77bf9ea0a48" >
			<when expression="#[payload.result1 &gt; 50]">
				<logger level="INFO" doc:name="Logger" doc:id="1c0ec29f-9647-4aa6-9a5e-da0d8becb1a3" />
			</when>
			<when expression="payload.result1 &gt; 5">
				<logger level="INFO" doc:name="Logger" doc:id="e0a21580-4383-4913-a154-ec5ee103b93b" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a60440c8-ed1a-4df2-b100-5241177a12fd" />
			</otherwise>
		</choice>
	</flow>
</mule>
